table, th, td {
    border: 1px solid;
  }

table {
    border-collapse: collapse;
    width: 1000px;
}
td {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#divC td {
    text-align: center;
}

span {
    color: red;
}

.hidden {
    display: none;
}